#team-builder{
  display: grid;
  grid-template-columns: 50% 10% 70%;
}
#poke-list{
  margin: 0;
  padding: 0;
  width: 35em;
  list-style: none;
  display: grid;
  grid-template-columns: 7em 7em 7em 7em 7em;
  gap: 1em;
}
.list-group-item{
  text-align: center;
  display: flex;
  flex-direction: column;
}
#poke-team{
  margin: 0;
  padding:0;
  list-style: none;
  display:flex;
  width:45em;
}
.team-item{
  text-align: center;
  display: flex;
  flex-direction: column;
  width:7em;
  height:7em;
}
.team-img{ 
  background-color: #42B4E6;
  max-height:80%;
}
