html, body {
  margin:0;
  padding:0;
}
#team-builder{
  display: flex;
  justify-content: space-around;
}
#poke-list{
  margin: 0;
  padding: 0;
  width: 45em;
  height: 30em;
  list-style: none;
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(120px, 7em));
  gap: 1em;
  overflow: auto;
}
.list-group-item{
  text-align: center;
  display: flex;
  flex-direction: column;
}
#poke-team{
  margin: 0;
  padding:0;
  list-style: none;
  justify-content: space-between;
  display:flex;
  flex-wrap:wrap;
  width:45em;
}
.team-item{
  text-align: center;
  display: flex;
  flex-direction: column;
  width:7em;
  height:7em;
}
.team-img{ 
  background-color: #42B4E6;
  max-height:80%;
}
